- provide(:title, 'Plantasks')

.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Plantasks
        %small Manager
      %ol.breadcrumb
        %li.active
          %i.fa.fa-tasks
          = "Plantasks | #{current_user.department.name} Department"

  = render 'layouts/flash' if !flash.empty?

  .row
    .col-lg-12
      .text-center{:style => "margin-top: 10px; margin-bottom: 20px;"}
        = link_to :back, style: "text-decoration:none; margin: 10px;" do
          %button.btn.btn-primary.btn-circle.btn-lg{:type => "button"}
            %i.fa.fa-arrow-left
        = link_to new_plantask_path, style: "text-decoration:none; margin: 10px;" do
          %button.btn.btn-default.btn-circle.btn-lg{:type => "button"}
            %i.fa.fa-tasks

  .row
    .col-lg-12
      .panel.panel-primary
        .panel-body
          = form_tag edit_multiple_equipment_plantasks_path, method: :get do
            = form_tag edit_multiple_plantasks_path, method: :get do
              %table#datatable.table.table-striped
                %thead
                  %tr
                    %th
                    %th Equip No.
                    %th Area
                    %th Equipment
                    %th Part
                    %th Associate
                    %th Date
                    %th
                %tbody
                  - @plantasks.each do |plantask|
                    %tr
                      %td= check_box_tag "plantask_ids[]", plantask.id
                      %td= plantask.equip_number
                      %td= plantask.area
                      %td= plantask.equipment
                      %td= plantask.part
                      %td= plantask.associate
                      %td= plantask.egg_timer.kind
                      %td
                        = link_to 'View', plantask_path(plantask)
                        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
                          = link_to 'Edit', edit_plantask_path(plantask)
                          = link_to 'Delete'.html_safe, plantask, method: :delete, data: { confirm: 'Are you sure?' }
              = submit_tag "Change Associate", class: 'btn btn-default'
            = submit_tag "Change Equipment", class: 'btn btn-default'