- provide(:title, 'View Plantask')

.container-fluid
  .row
    .col-lg-12
      %h1.page-header= "Planned Task No. #{@plantask.id}"

  = render 'layouts/flash' if !flash.empty?

  .row
    .col-lg-12
      .text-center{:style => "margin-top: 10px; margin-bottom: 20px;"}
        = link_to :back, style: "text-decoration:none; margin: 10px;" do
          %button.btn.btn-primary.btn-circle.btn-lg{:type => "button"}
            %i.fa.fa-arrow-left
        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
          = link_to edit_plantask_path(@plantask), style: "text-decoration:none; margin: 10px;" do
            %button.btn.btn-default.btn-circle.btn-lg{:type => "button"}
              %i.fa.fa-edit
          = link_to :controller => :work_orders, :action => :new, :id => @plantask.id, style: "text-decoration:none; margin: 10px;" do
            %button.btn.btn-default.btn-circle.btn-lg{:type => "button"}
              %i.fa.fa-bug
          %a{:href => "#", :'data-toggle' => "modal", :'data-target' =>"#qrModal", style: "text-decoration:none; margin: 10px;"}
            %button.btn.btn-default.btn-circle.btn-lg{:type => "button"}
              %i.fa.fa-qrcode
        = link_to :controller => :records, :action => :new, :id => @plantask.id, style: "text-decoration:none; margin: 10px;" do
          %button.btn.btn-success.btn-circle.btn-lg{:type => "button"}
            %i.fa.fa-wrench
  .row
    .col-md-12
      .div{ :class => "panel with-nav-tabs #{@panel_style}"}
        .panel-heading
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab1"} Information
            %li
              %a{"data-toggle" => "tab", :href => "#tab2"} Records
            %li
              %a{"data-toggle" => "tab", :href => "#tab3"} Work Orders
        .panel-body
          .tab-content
            #tab1.tab-pane.fade.in.active
              .row
                .col-md-6
                  %h3 Area
                  = @plantask.area
                .col-md-6
                  %h3 Equipment
                  = @plantask.equipment
              %hr
              .row
                .col-md-2
                  %h4 Part
                  = @plantask.part
                .col-md-2
                  %h4 Est. Time
                  = @plantask.est_time
                .col-md-7
                  %h4 Description
                  = @plantask.description
                .col-md-3
                  %h4 Frequency / Timer
                  = @plantask.egg_timer.kind
              %hr
              .row
                .col-lg-12
                  %h3= "Current Status: #{@plantask.current_status}"
            #tab2.tab-pane.fade
              .bs-component{:style => "margin-bottom: 15px;"}
                .btn-group.btn-group-justified
                  = link_to "PDF", plantask_path(@plantask, format: "pdf"), class: "btn btn-danger"
                  = link_to "Excel".html_safe, plantask_path(:format => :xls), class: "btn btn-success"
                  = link_to 'CSV', plantask_path(:format => :csv), class: "btn btn-warning"
              %table.table
                %thead
                  %tr
                    %th Status
                    %th= @plantask.data_type
                    %th Creation Date
                    %th Comments
                %tbody
                  - @records.each do |record|
                    %tr
                      %td= record.status
                      %td= record.data
                      %td= record.created_at
                      %td= record.comments
              = paginate @records, :param_name => "page_records", :params => { :anchor => 'tab2' }

            #tab3.tab-pane.fade
              %table.table
                %thead
                  %tr
                    %th No.
                    %th Creation Date
                    %th Description
                    %th Actions
                %tbody
                  - @orders.each do |order|
                    %tr
                      %td= order.id
                      %td= order.created_at
                      %td= order.description
                      - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
                        %td= link_to 'Edit', edit_work_order_path(order.id), class: 'btn btn-default'

= render 'plantasks/modals/qr_code'
