.row
  .col-lg-12
  
    - if @equipment.errors.any?
      .alert.alert-warning.alert-dismissable
        %a.close{:'data-dismiss' => "alert", :href => '#'} &times;
        %i.fa.fa-exclamation-sign
        = pluralize(@equipment.errors.count, "error") + ' prevented this equipment from being created:'
        %ul
          - @equipment.errors.full_messages.each do |msg|
            %li= msg

  .well.bs-component
    %fieldset
      %legend Equipment
      = form_for(@equipment) do |f|
        .form-group
          = f.label :equipment
          .col-lg-10
            = f.text_field :equipment, class: "form-control", maxlength: '45', placeholder: 'Enter your equipment...'
        .form-group
          = f.label :number
          .col-lg-10
            = f.number_field :number, class: "form-control", maxlength: '5', placeholder: 'Enter your equipment number...'
        .row
          .col-lg-12
            .text-center{:style => "margin-top: 10px; margin-bottom: 20px;"}
              = link_to :back, style: "text-decoration:none; margin: 10px;" do
                %button.btn.btn-primary.btn-circle.btn-lg{:type => "button"}
                  %i.fa.fa-arrow-left
              = f.button :submit, :style => "text-decoration:none; margin: 10px;", :class => "btn btn-default btn-circle btn-lg" do
                %i.fa.fa-save
