= form_tag search_path, class: "input-group", method: :get do
  .input-group
    = text_field_tag :query, params[:query], class: "form-control", :placeholder => "Equipment...", id: "equipment_search", autocomplete: "off"
    .input-group-btn
      = submit_tag t('navigation.search'), class: "btn btn-default"
    - if params[:query].present?
      .input-group-btn
        = link_to search_path, class: "btn btn-default" do
          %i.fa.fa-eraser

= render @equipment

= paginate @equipment
