- provide(:title, 'Misc. Work Orders')

.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Misc. Work Orders
        %small Manager
      %ol.breadcrumb
        %li.active
          %i.fa.fa-tasks
          Misc. Work Orders | All Departments

  = render 'layouts/flash' if !flash.empty?

  .row
    .col-lg-12
      .text-center{:style => "margin-top: 10px; margin-bottom: 20px;"}
        = link_to :back, style: "text-decoration:none; margin: 10px;" do
          %button.btn.btn-primary.btn-circle.btn-lg{:type => "button"}
            %i.fa.fa-arrow-left
        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
          = link_to new_misc_work_order_path, style: "text-decoration:none; margin: 10px;" do
            %button.btn.btn-default.btn-circle.btn-lg{:type => "button"}
              %i.fa.fa-bug

  .row
    .col-md-12
      .panel.with-nav-tabs.panel-default
        .panel-heading
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab1default"} Calendar
            %li
              %a{"data-toggle" => "tab", :href => "#tab2default"} List

        .panel-body
          .tab-content
            #tab1default.tab-pane.fade.in.active
              #calendar
            #tab2default.tab-pane.fade
              %table#datatable.table.table-striped
                %thead
                  %tr
                    %th Actions
                    %th Urgency
                    %th Description
                    %th Complete?
                    %th.col-md-3
                %tbody
                  - @misc_work_orders.each do |work_order|
                    %tr
                      %td= check_box_tag "work_order_ids[]", work_order.id
                      %td= work_order.urgency
                      %td= work_order.description
                      %td= work_order.completion_switch
                      %td
                        .btn-group
                          = link_to 'View', work_order
                          - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
                            = link_to 'Edit', edit_work_order_path(work_order)
                            = link_to 'Delete', work_order, method: :delete, data: { confirm: 'Are you sure?' }
 

= render 'misc_work_orders/calendar.js'