%h1 Listing misc_work_orders

%table
  %tr
    %th Account number
    %th Cost unit
    %th Cost center
    %th Cost description
    %th Start date
    %th Due date
    %th Description
    %th Urgency
    %th Completion switch
    %th
    %th
    %th

  - @misc_work_orders.each do |misc_work_order|
    %tr
      %td= misc_work_order.account_number
      %td= misc_work_order.cost_unit
      %td= misc_work_order.cost_center
      %td= misc_work_order.cost_description
      %td= misc_work_order.start_date
      %td= misc_work_order.due_date
      %td= misc_work_order.description
      %td= misc_work_order.urgency
      %td= misc_work_order.completion_switch
      %td= link_to 'Show', misc_work_order
      %td= link_to 'Edit', edit_misc_work_order_path(misc_work_order)
      %td= link_to 'Destroy', misc_work_order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Misc work order', new_misc_work_order_path
