<div class="col-xs-12 .col-md-8">
  <div class="box">
    <div class="box-content">
			<%= form_for @record, :url => { :action => :create, :id => @plantask.id } do |f| %>
		  	<% if @record.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

			      <ul>
			      <% @record.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
				<div class='col-sm-12'>
					<div class='accordion accordion-muted panel-group' id='accordion' style='margin-bottom:0;'>
					    <div class='panel panel-default'>
					      <div class='panel-heading'>
					        <a class='accordion-toggle' data-parent='#accordion' data-toggle='collapse' href='#collapseOne-accordion'>
					        1. Select a status...
					        </a>
					      </div>
					      <div class='panel-collapse collapse in' id='collapseOne-accordion'>
					        <div class='panel-body'>
					  				<div class="form-group">
					  					<%= f.label :status, "Use your best judgement." %>
					  					<div class="switch-toggle switch-3 switch-candy">				
					  						<%= f.radio_button :status, 'GOOD' %>
					  						<%= f.label :status, "GOOD", :value => 'GOOD' %>
					  						<%= f.radio_button :status, 'WARNING'%>
					  						<%= f.label :status, "WARNING", :value => 'WARNING' %>
					  						<%= f.radio_button :status, 'ALERT' %>
					  						<%= f.label :status, "ALERT", :value => 'ALERT' %>
					  						<a></a>
					  					</div>
					  				</div>
					        </div>
					      </div>
					    </div>
					    <div class='panel panel-default'>
					      <div class='panel-heading'>
					        <a class='accordion-toggle' data-parent='#accordion' data-toggle='collapse' href='#collapseTwo-accordion'>
					        2. Enter numerical data...
					        </a>
					      </div>
					      <div class='panel-collapse collapse' id='collapseTwo-accordion'>
					        <div class='panel-body'>
										<% if @upper_lower_bound.nil? %>
											<h2>No data is required for this task.</h2>
										<% else %>
											<h3>
												Your target( or ideal value) for this task is <%= @target %>.
											</h3>
											<div style='background-color: red; padding: 5px;'>
													<h4><%= @upper_bound %></h4>
											</div>
										  <div class="field">
										    <%= f.number_field :data, class: 'form-control' %>
										  </div>
											<div style='background-color: green; padding: 5px;'>
													<h4><%= @lower_bound %></h4>
											</div>
										<% end %>
					        </div>
					      </div>
					    </div>
					    <div class='panel panel-default'>
					      <div class='panel-heading'>
					        <a class='accordion-toggle' data-parent='#accordion' data-toggle='collapse' href='#collapseThree-accordion'>
					        3. Enter comments...
					        </a>
					      </div>
					      <div class='panel-collapse collapse' id='collapseThree-accordion'>
					        <div class='panel-body'>
										<div class="field">
												<%= f.text_area :comments, class: "char-counter form-control", placeholder: 'Type your comment here... (Optional)', rows: "3", :data => { :'data-char-allowed' => "140", :'data-char-warning' => "10" } %>
										</div>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
        <div class='form-actions'>
          <div class='row'>
            <div class='col-sm-7 col-sm-offset-5'>
				 	    <%= f.submit "Save", class: 'btn btn-lg' %>
            </div>
          </div>
        </div>
			<% end %>
    </div>
  </div>
</div>

<script>
	$("[data-slider]")
	  .each(function () {
	    var input = $(this);
	    $("<span>")
	      .addClass("output")
				.addClass("h2")
	      .insertAfter($(this));
	  })
	  .bind("slider:ready slider:changed", function (event, data) {
	    $(this)
	      .nextAll(".output:first")
	        .html(data.value.toFixed(1));
	  });
</script>