#alertModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "alertModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title Alert Task Details | Most Recently Updated
      .modal-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th Area
                %th Equipment
                %th Part
                %th Actions
            %tbody
              - @page_alerts.each do |task|
                %tr
                  %td= task.area
                  %td= task.equipment
                  %td= task.part
                  %td= link_to 'View', plantask_path(task), class: 'btn btn-default'
      .modal-footer
        = link_to "View All #{@alert}", view_alerts_path, class: 'btn btn-danger'
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close