%h1 Listing egg_timers

%table
  %tr
    %th Type
    %th Assign time
    %th Overdue time
    %th
    %th
    %th

  - @egg_timers.each do |egg_timer|
    %tr
      %td= egg_timer.kind
      %td= egg_timer.assign_time
      %td= egg_timer.overdue_time
      %td= link_to 'Show', egg_timer
      %td= link_to 'Edit', edit_egg_timer_path(egg_timer)
      %td= link_to 'Destroy', egg_timer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Egg timer', new_egg_timer_path
