.row
  .col-lg-12

    - if @procedure.errors.any?
      .alert.alert-warning.alert-dismissable
        %a.close{:'data-dismiss' => "alert", :href => '#'} &times;
        %i.fa.fa-exclamation-sign
        = pluralize(@procedure.errors.count, "error") + ' prevented this procedure from being created:'
        %ul
          - @procedure.errors.full_messages.each do |msg|
            %li= msg

  .well.bs-component
    %fieldset
      %legend Procedure
      = form_for(@procedure) do |f|
        .form-group
          .row
            .col-lg-2
              = f.label :name
            .col-lg-10
              = f.text_field :name, class: "char-max-length form-control", maxlength: '45', placeholder: 'Enter your procedure...'
        .row
          .col-lg-12
            .text-center{:style => "margin-top: 10px; margin-bottom: 20px;"}
              = link_to :back, style: "text-decoration:none; margin: 10px;" do
                %button.btn.btn-primary.btn-circle.btn-lg{:type => "button"}
                  %i.fa.fa-arrow-left
              = f.button :submit, :style => "text-decoration:none; margin: 10px;", :class => "btn btn-default btn-circle btn-lg" do
                %i.fa.fa-save
