%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "MowerMan | #{current_user.department.name}", dash_path, :class => "navbar-brand"
  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-send.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-messages
        %li
          = link_to :new_conversation, class: 'text-center' do
            %strong Start a New Conversation
            %i.fa.fa-angle-right
        %li.divider
        %li
          = link_to :conversations, :class => 'text-center' do
            %strong View Conversations
            %i.fa.fa-angle-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          %a{:href => "#"}
            %i.fa.fa-lock.fa-fw
            - if current_user.has_role? :admin
              = "Administrator"
            - elsif current_user.has_role? :manager
              = "Manager"
            - else
              = "Associate"
        %li
          %a{:href => "#"}
            %i.fa.fa-user.fa-fw
            = current_user.name unless @access_user.locale == 'ja'
            = "#{current_user.name}さん" if @access_user.locale == 'ja'
        %li
          = link_to edit_user_registration_path do
            %i.fa.fa-fw.fa-gear
            = t('navigation.settings')
        %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-fw.fa-power-off
            = t('navigation.logout')
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
          %li.sidebar-search
            = form_tag search_path, class: "input-group", method: :get do
              .input-group
                = text_field_tag :query, params[:query], class: "form-control", :placeholder => "Plantasks...", id: "plantask_search", autocomplete: "off"
                .input-group-btn
                  = submit_tag t('navigation.search'), class: "btn btn-default"
                - if params[:query].present?
                  .input-group-btn
                    = link_to search_path, class: "btn btn-default" do
                      %i.fa.fa-eraser
        %li
          = link_to dash_path, class: active_page(dash_path) do
            %i.fa.fa-fw.fa-dashboard
            = t('navigation.dashboard')
        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
          %li
            = link_to plantasks_path, class: active_page(plantasks_path) do
              %i.fa.fa-fw.fa-tasks
              = t('navigation.plantasks')
        %li
          = link_to workplanner_path do
            %i.fa.fa-fw.fa-bug
            = t('navigation.workplanner')
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              = link_to "Trackable Work Orders", work_orders_path, class: active_page(work_orders_path)
            %li
              = link_to "Misc. Work Orders", misc_work_orders_path, class: active_page(misc_work_orders_path)
            %li
              = link_to "My Work Orders", myworkorders_path, class: active_page(myworkorders_path)
        - if (current_user.has_role? :manager) || (current_user.has_role? :admin)
          %li
            = link_to libraries_path, class: active_page(libraries_path) do
              %i.fa.fa-fw.fa-university
              = t('navigation.libraries')
        %li
          = link_to mytasks_path, class: active_page(mytasks_path) do
            %i.fa.fa-fw.fa-wrench
            = t('navigation.my_tasks')
        %li
          %a{:href => "http://suggestions.asamacm.com/splash.html"}
            %i.fa.fa-fw.fa-envelope
            = t('navigation.suggestion_system')
        %li
          = link_to helpdesk_path do
            %i.fa.fa-fw.fa-life-saver
            = t('navigation.helpdesk')
        - if current_user.has_role? :admin
          %li
            = link_to helpdesk.admin_root_path do
              %i.fa.fa-fw.fa-life-saver
              = t('navigation.manage_helpdesk')
